# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

#IntelliJ
/*.iml
/.idea

# various other potential build files
/bin
/dist
/manifest.mf
/.fatjar
dependency-reduced-pom.xml

# Mac filesystem dust
.DS_Store
.DS_Storetarget
/target
br-portuguese.properties
config.yml
cooldown.yml
de-german.properties
es-spanish.properties
it-italian.properties
nl-dutch.properties
PlayerSpellConfig.yml
plugin.yml
pom.xml
spells.yml
stats-url.txt
us-english.properties
zh-chinese.properties
